<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Grader | Lecturer</title>

  <!-- Bootstrap core CSS -->
  <link href="/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
</head>

<body>

  <%- include('header.ejs') %>

  <main role="main">


    <div class="container marketing">

      <div class="row mt-5">
        <div class="container-fluid mt-5" style="display: flex">

          <%if(data){%>
          <table class="table table-striped table-dark">
            <thead>
              <tr>
                <th>#</td>
                <th>Name</th>
                <th>studentID</th>
                <th>Assesment(30%)</th>
                <th>Final Exam(70%)</th>
              </tr>
            </thead>
            <tbody>
              <form action>
                <input type="text" style="display: none" name="courseID" value="<%=courseID%>">
                <input type="text" style="display: none;" name="year" value="<%=data[0].year%>">
                <% data.forEach((i,e)=>{ %>
                <tr>
                  <td><%=e+1%></td>
                  <td><%=i.studentID.firstname+" "+i.studentID.surname%></td>
                  <td><%=i.studentID.studentID%></td>
                  <td><input name="<%=i.studentID.studentID%>_mid" class="form-control text-center"
                      value="<%=i.midsem%>" type="number"></td>
                  <td><input name="<%=i.studentID.studentID%>_end" class="form-control text-center"
                      value="<%=i.endsem%>" type="number"></td>
                </tr>
                <% }) %>
              </form>
            </tbody>

          </table>
          <%}else{%>
          <h3>No Student Has registered to this course yet</h3>
          <%}%>
                
                
                  
                
              </div>
          </div>
          <div class="resdiv">

          </div>
          <div class="text-center">
            <% if(data){%>
          <buttton class="btn btn-secondary save-grades">Save</buttton>
          <% }%>

        </div>

      </div><!-- /.container -->


  </main>

  <!-- Bootstrap core JavaScript
    ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script>window.jQuery || document.write('<script src="/js/vendor/jquery-slim.min.js"><\/script>')</script>
  <script src="/js/vendor/popper.min.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
  <script src="/js/vendor/holder.min.js"></script>
  <script>
    let ress = `<div class="alert alert-success"><b>Grading scores updated!</b></div>`;
    function msg(msg) {
      return ` <div class="alert alert-danger"><b>${msg}!</b></div>`;
    }
    function callError(msgg) {
      $(".resdiv").append(msg(msgg));
      setTimeout(function () {
        $(".resdiv").html("");
      }, 5000);
    }
    $(".save-grades").click(function () {
      let formdata = $("form").serializeArray();
      let data = { data: JSON.stringify(formdata) };
      let cango = true;
      console.log(formdata)
      for (let i = 0; i < formdata.length; i++) {
        if (formdata[i].name.split("_")[1] == "mid" && (formdata[i].value < 0 || formdata[i].value > 30)) {
          callError("All mid semester values should be less than 30")
          cango = false;
          break;
        } else if (formdata[i].name.split("_")[1] == "end" && (formdata[i].value < 0 || formdata[i].value > 70)) {
          callError("All end of semester values should be less than 70")
          cango = false;
          break;
        }
      };
      if (cango) {
        $.ajax({
          url: "/lecturer/grader",
          method: "POST",
          data: data,
          success: function (res) {
            if (res.done == true) {
              $(".resdiv").append(ress);
              setTimeout(function () {
                $(".resdiv").html("");
              }, 3000);
            } else {

            }
          }
        })
      }

    })
  </script>
</body>

</html>